<div class="col-9">
    <h1>All Range market</h1>
    <h3>
        Маркетплейс молодёжной одежды, который позволяет тебе самовыражаться.
    </h3>
    <a class="navbar-brand" asp-area="" asp-controller="Home"
       asp-action="Index" asp-route-category="" asp-route-productPage="1"> Попробовать прямо сейчас</a>
</div>