<form asp-action="Index" asp-controller="Home" method="post">
    <br />
    <input type="radio" name="orderby" value="Price" />
    <span>По цене</span> <br />
    <input type="radio" name="orderby" value="Name" />
    <span> По названию</span><br />
    <input type="radio" name="order" value="Vendor" />
    <span>По продавцу</span><br />
    <button class="btn btn-block" type="submit">
        Применить
    </button> <br />
</form>