<!DOCTYPE HTML>
<html>
<head>
    <title>ALL Range Market</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/form.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function () {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function () {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function () {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
    </script>
    <!-- start menu -->
    <link href="~/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/js/megamenu.js"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
    <!-- end menu -->
    <!-- top scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
            });
        });
    </script>
</head>
<body>
    <div class="header-top">
        <div class="wrap">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="All Range Market" /></a>
            </div>
            <div class="cssmenu">
                    <ul>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="active"><a asp-controller="Account" asp-action="Register">Регистрация</a></li>
                            <li><a asp-controller="Account" asp-action="Login" asp-route-returnUrl="">Личный кабинет</a></li>
                        }
                        else
                        {
                            <li><a asp-controller="Account" asp-action="Profile">Личный кабинет</a></li>
                        }
                        <li><a href="checkout.html">Оформить заказ</a></li>
                    </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <!-- start header menu -->
            <ul class="megamenu skyblue">
                <li><a class="color1" asp-controller="Home" asp-action="Index">На главную</a></li>
                <li class="grid">
                    <a class="color2" asp-controller="Home" asp-action="Index">Мужчинам</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>popular</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">new arrivals</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">men</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">women</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">login</a></li>
                                    </ul>
                                </div>
                                <div class="h_nav">
                                    <h4 class="top">men</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">new arrivals</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">men</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">women</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>style zone</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">men</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">women</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">brands</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <img src="~/images/nav_img.jpg" alt="" />
                        </div>
                    </div>
                </li>
                <li class="active grid">
                    <a class="color4" asp-controller="Home" asp-action="Index">Женщинам</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>shop</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">new arrivals</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">men</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">women</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">brands</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>help</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">trends</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">sale</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>my company</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">trends</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">sale</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>account</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">login</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">create an account</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">create wishlist</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">my shopping bag</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">brands</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">create wishlist</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>popular</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">new arrivals</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">men</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">women</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <img src="~/images/nav_img1.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="color5" asp-controller="Home" asp-action="Index">Детям</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>popular</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">new arrivals</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">men</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">women</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">login</a></li>
                                    </ul>
                                </div>
                                <div class="h_nav">
                                    <h4 class="top">man</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">new arrivals</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">men</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">women</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>style zone</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">men</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">women</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">brands</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <img src="~/images/nav_img2.jpg" alt="" />
                        </div>
                    </div>
                </li>
                <li>
                    <a class="color7" asp-controller="Home" asp-action="Index">Customize</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>shop</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">new arrivals</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">men</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">women</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">brands</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>help</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">trends</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">sale</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>my company</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">trends</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">sale</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>account</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">login</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">create an account</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">create wishlist</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">my shopping bag</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">brands</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">create wishlist</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>my company</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">trends</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">sale</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>popular</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">new arrivals</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">men</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">women</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="color8" asp-controller="Home" asp-action="Index">Продавцы</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>style zone</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">men</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">women</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">brands</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>popular</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">new arrivals</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">men</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">login</a></li>
                                    </ul>
                                </div>
                                <div class="h_nav">
                                    <h4 class="top">man</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">new arrivals</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                    </ul>
                                </div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="color9" asp-controller="Home" asp-action="Index">Прочее</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>shop</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">new arrivals</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">men</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">women</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">brands</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>help</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">trends</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">sale</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>my company</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">trends</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">sale</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>account</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">login</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">create an account</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">create wishlist</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">my shopping bag</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">brands</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">create wishlist</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>my company</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">trends</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">sale</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>popular</h4>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Catalog">new arrivals</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">men</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">women</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">accessories</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">kids</a></li>
                                        <li><a asp-controller="Home" asp-action="Catalog">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>

    <div class="footer">
        <div class="footer-top">
            <div class="wrap">
                <div class="col_1_of_footer-top span_1_of_footer-top">
                    <ul class="f_list">
                        <li><span class="delivery">Телефон горячей линии: <span class="orange">+79001231212 </span></span></li>
                    </ul>
                </div>
                <div class="col_1_of_footer-top span_1_of_footer-top">
                    <ul class="f_list">
                        <li><span class="delivery">Быстрая доставка</span="delivery"></li>
                    </ul>
                </div>
                <div class="col_1_of_footer-top span_1_of_footer-top">
                    <ul class="f_list">
                        <li><span class="delivery">Возможен возврат</span></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="wrap">
                <div class="section group">
                    <div class="col_1_of_middle span_1_of_middle">
                        <ul class="f_list1">
                            <li>
                                <span class="m_8">Подпишитесь на рассылку и получите скидку 15%</span>
                                <div class="search">
                                    <input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                                    <input type="submit" value="Subscribe" id="submit" name="submit">
                                    <div id="response"> </div>
                                </div><div class="clear"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="wrap">
                <div class="section group">
                    <div class="col_1_of_5 span_1_of_5">
                        <h3 class="m_9">Каталог</h3>
                        <ul class="sub_list">
                            <h4 class="m_10">Мужское</h4>
                            <li><a asp-controller="Home" asp-action="Catalog">Мужские футболки</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Мужские толстовки</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Мужские штаны</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Мужская обувь</a></li>
                        </ul>
                        <ul class="sub_list">
                            <h4 class="m_10">Женское</h4>
                            <li><a asp-controller="Home" asp-action="Catalog">Женские футболки</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Женские толстовки</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Женская обувь</a></li>
                        </ul>
                        <ul class="sub_list">
                            <h4 class="m_10">Детям</h4>
                            <li><a asp-controller="Home" asp-action="Catalog">Обувь для детей</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Kids Clothing</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Kids Accessories</a></li>
                        </ul>
                    </div>
                    <div class="col_1_of_5 span_1_of_5">
                        <h3 class="m_9">Стань частью команды</h3>
                        <ul class="list1">
                            <li><a asp-controller="Home" asp-action="Catalog">Вакансии</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Зарегестрировать свой магазин</a></li>
                        </ul>
                    </div>
                    <div class="col_1_of_5 span_1_of_5">
                        <h3 class="m_9">Originals</h3>
                        <ul class="list1">
                            <li><a asp-controller="Home" asp-action="Catalog">Originals Shoes</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Gazelle</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Samba</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">LA Trainer</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Superstar</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">SL</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">ZX</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Campus</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Spezial</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Dragon</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Originals Clothing</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Firebird</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Originals Accessories</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Men's Originals</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Women's Originals</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Kid's Originals</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">All Originals</a></li>
                        </ul>
                    </div>
                    <div class="col_1_of_5 span_1_of_5">
                        <h3 class="m_9">По категориям</h3>
                        <ul class="list1">
                            <li><a asp-controller="Home" asp-action="Catalog">Футболки</a></li>
                        </ul>
                    </div>
                    <div class="col_1_of_5 span_1_of_5">
                        <h3 class="m_9">Поддержка</h3>
                        <ul class="list1">
                            <li><a asp-controller="Home" asp-action="Catalog">+79135300818</a></li>

                        </ul>
                        <ul class="sub_list2">
                            <h4 class="m_10">Company Info</h4>
                            <li><a asp-controller="Home" asp-action="Catalog">About Us</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Careers</a></li>
                            <li><a asp-controller="Home" asp-action="Catalog">Press</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <a asp-controller="Home" asp-action="Index" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>
</html>